@page

@model Server.Pages.Features.Common.Admin.ApplicationSettings.UpdateModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.UpdateOf} {Resources.DataDictionary.ApplicationSetting}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<input type="hidden" asp-for="ViewModel.Id" />

	<section-form>

		<fieldset>

			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-select asp-for="ViewModel.DefaultCultureId" asp-items="@(Model.CulturesSelectList)" />

			<hr />

			<dtat-full-input asp-for="ViewModel.MasterPassword" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.FavoriteUserProfileLevel" />

			<hr />

			<dtat-full-input asp-for="ViewModel.GoogleAnalyticsCode" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.GoogleTagManagerCode" dir="ltr" />

			<hr />

			<dtat-full-checkbox asp-for="ViewModel.IsRegistrationEnabled" />

			<dtat-full-checkbox asp-for="ViewModel.IsLoginVisible" />

			<dtat-full-checkbox asp-for="ViewModel.IsSslEnabled" />

			<dtat-full-checkbox asp-for="ViewModel.IsGoogleSsoEnabled" />

		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>

		@*
		<section-form-footer>
		<a asp-page="Details">
		@(Html.DtatGetLinkCaptionForDetails())
		</a>
		</section-form-footer>
		*@

	</section-form>

</form>
