<li class="nav-item dropdown">

	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		@(Resources.DataDictionary.CommonSettings)
	</a>

	<ul class="dropdown-menu mt-0">

		<li>
			<a class="dropdown-item" asp-page="/Features/Common/Admin/Cultures/Index">
				@(Resources.DataDictionary.Cultures)
			</a>
		</li>

		<li>
			<a class="dropdown-item" asp-page="/Features/Common/Admin/FileManager/Index">
				@(Resources.PageTitles.FileManager)
			</a>
		</li>

	</ul>

</li>
