@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor*@
@inject Services.Features.Common.LocalizedApplicationSettingService localizedApplicationSettingService

@{
	var localizedApplicationSetting =
		await
		localizedApplicationSettingService.GetInstanceAsync();
}

<footer class="footer border-top py-3 bg-light text-muted fixed-bottom">

	<div class="container text-muted">
		@*Domain: @(httpContextAccessor.HttpContext?.Request.Host.Value)*@

		<environment include="Development" exclude="Production">
			Development Mode
		</environment>

		@*<environment include="Production" exclude="Development">Production Mode</environment>*@

		@if (string.IsNullOrWhiteSpace(value: localizedApplicationSetting.Copyright) == false)
		{
			@(Html.Raw(localizedApplicationSetting.Copyright))
		}

		@if (string.IsNullOrWhiteSpace(value: localizedApplicationSetting.ApplicationVersioin) == false)
		{
			@(Html.Raw(localizedApplicationSetting.ApplicationVersioin)
				)
		}
	</div>

</footer>
