<title>
	@(ViewData[Constants.ViewDataKeyName.PageTitle])
</title>

@{
	var pageDescription =
		ViewData[Constants.ViewDataKeyName.PageDescription] as string;

	if (string.IsNullOrWhiteSpace(value: pageDescription) == false)
	{
		<meta name="description" content="@(pageDescription)" />
	}
}

@{
	var pageAuthor =
		ViewData[Constants.ViewDataKeyName.PageAuthor] as string;

	if (string.IsNullOrWhiteSpace(value: pageAuthor) == false)
	{
		<meta name="author" content="@(pageAuthor)" />
	}
	else
	{
		<meta name="author" content="Dariush Tasdighi - داریوش تصدیقی" />
	}
}
