@page

@model Server.Pages.Errors.Error404Model

@{
	var pageTitle =
		Resources.PageTitles.Error404;

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<h1 class="text-center">
	@(pageTitle)
</h1>

<hr />
