@page

@model Server.Pages.Errors.Error403Model

@{
	var pageTitle =
		Resources.PageTitles.Error403;

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<h1 class="text-center">
	@(pageTitle)
</h1>

<hr />
